/*================================================================================================================

        DEFAULT VALUES:

        Font Family                 :   "Roboto Condensed", sans-serif
        
        Greenish Blue               :   #3742fa or rgb(55, 66, 250)    (buttons, Icons, Links, lines & Backgrounds)
        Steel Gray                  :   #41464b     (Headings)
        Blue Bayoux                 :   #64707b     (paragraphs)
        white                       :   #fff        (text with black backgrounds)
        Black                       :   #000        ()
        hover                       :   #ffa502 or rgb(255, 165, 2)     (hover)

=================================================================================================================*/


body {
  font-family: 'Roboto Condensed';

}
/* innovation css starts here */
.innovation-container{
  width: 90vw;
}
.innovation-content-image {
  border-radius: 5px;
}

.innovation-topicname {
  width: 220px;
  margin-top: 10px;

}

.innovation-topichead {
  font-size: 15px;
  text-align: center;
}

.innovation-playlists-container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.innovation-content {
  position: relative;
  width: 180px;
  margin: auto;
  overflow: hidden;
}

.innovation-content-image {
  width: 150px;
  height: 150px;
}

.innovation-content-details {
  position: absolute;
  text-align: right;
  padding-left: 1em;
  padding-right: 1em;
  width: 90%;
  top: 0%;
  color: aliceblue;
  left: 100%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.innovation-content:hover .innovation-content-details {
  top: 20%;
  left: 60%;
  opacity: 1;
                                         
}
/* Owl carousel innovation starts here */
.owl-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .owl-prev,
.wrapper .owl-next {
  position: absolute;
  top: 25%;
  font-size: 2rem;

}

.wrapper .owl-prev {
  left: 0;
}

.wrapper .owl-next {
  right: 0;
}

.wrapper .owl-dots {
  display: none;
}

.innovation-student-topic {
  font-size: 25px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #3742fa;
  font-weight: bold;
}

#left-arrow {
  color: #fff;
  border-radius: 50%;
  background-color: #1a1a1a;
  padding: 5px;
  padding-inline: 10px;

}

#right-arrow {
  color: #fff;
  border-radius: 50%;
  background-color: #1a1a1a;
  padding: 5px;
  padding-inline: 10px;
}

#right-arrow:hover {
  color: #fff;
  background-color: #4c4b4b;
  padding: 5px;
  padding-inline: 10px;
}

#left-arrow:hover {
  color: #fff;
  background-color: #4c4b4b;
  padding: 5px;
  padding-inline: 10px;

}

@media screen and (max-width: 800px){
  .innovation-student-topic{
      margin-left: 0;
      text-align: center;
  }
}
/* innovation css ends here */